<html>
<head>
    <title>UIWeatherApp</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body style="background-image: linear-gradient(#4059AD,yellow);">
    <center>
        <header>
            <h1>Weather App</h1>
        </header>
    <br>
        <div id="bround">
            <center>
                <h2 style="font-size: 3vw">Static Weather Radar</h2>
            </center>
        </div>
    <br>
        <form id="form">
            <input type="search" id="query" name="q" placeholder="Search...">
            <button>Search</button>
        </form>
    <br>
        <div id="row" style="width:50%">
            <a href="/temp">
            <div id="column">Witchita, Kansas</div>
            </a>
            <div id="column"><img src="/static/images/cloudy.png" style="width: 33.33%" style="height: 50%"></div>
            <div id="column">Hi, Lo</div>
        </div>
    <br>
        <div id="row" style="width:50%">
            <a href="/temp">
            <div id="column">San Antonio, Texas</div>
            </a>
            <div id="column"><img src="/static/images/windy.png" style="width: 33.33%" style="height: 50%"></div>
            <div id="column">Hi, Lo</div>
        </div>
    <br>
        <div id="row" style="width:50%">
            <a href="/temp">
            <div id="column">Lansing, Michigan</div>
            </a>
            <div id="column"><img src="/static/images/rain.png" style="width: 33.33%" style="height: 50%"></div>
            <div id="column">Hi, Lo</div>
        </div>
    </center>
</body>
</html>
