{% extends 'weather.html' %}

{% block header %}
<h1>{% block title %}Overview{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2>Today's Forecast</h2>
{% if today %}
<div class="card mx-auto" style="width: 18rem;">
    <img src="{{ url_for('static', filename='images/fill/darksky/clear-day.svg') }}" class="card-img=top" id="image" alt="weather-code">
    <div class="card-body">
        <h5 class="card-title">{{city}}</h5>
        <p class="card-text">Some quick example text.</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            Temperature (F): {{ today.current.temperature_2m }}
        </li>
        <li class="list-group-item">
            Humidity (%): {{ today.current.relative_humidity_2m }}
        </li>
        <li class="list-group-item">
            Wind Speed (mph): {{ today.current.wind_speed_10m }}
        </li>
    </ul>
    <div class="card-body">
        <a href="/weather/today" class="card-link">More info</a>
    </div>
</div>
<br>
</div>

<div class="container">
<h2>Daily Forecast</h2>
<br>
    <div class="row">
        {% for day, max_temp, min_temp, precip, max_wind in zip(days, 
        forecast.temperature_2m_max, forecast.temperature_2m_min, 
        forecast.precipitation_sum, forecast.windspeed_10m_max) %}
        {% if loop.index0 > 0 %}
        <div class="col-md-4 mb-md-3 mb-5">
            <div class="card" style="width: 18rem;">
                <img src="{{ url_for('static', filename='images/fill/darksky/clear-day.svg') }}" class="card-img=top" id="image" alt="weather-code">
                <div class="card-body">
                    <h5 class="card-title">Date: </h5>
                    <p class="card-text">{{ day }}</p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">High (F): {{ max_temp }}</li>
                    <li class="list-group-item">Low (F): {{ min_temp }}</li>
                </ul>
                <div class="card-body text-center">
                    <a href="/weather/today" class="card-link">More info</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}
