{% extends 'weather.html' %}

{% block header %}
<h1>{% block title %}Overview{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2>Today's Forecast</h2>
{% if today %}
<div class="card" style="width: 18rem;">
    <img src="" class="card-img=top" id="image" alt="weather-code">
    <div class="card-body">
        <h5 class="card-title">City</h5>
        <p class="card-text">Some quick example text.</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            Temperature (F): {{ today.current.temperature_2m }}
        </li>
        <li class="list-group-item">
            Humidity (%): {{ today.current.relative_humidity_2m }}
        </li>
        <li class="list-group-item">
            Wind Speed (mph): {{ today.current.wind_speed_10m }}
        </li>
    </ul>
    <div class="card-body">
        <a href="/weather/today" class="card-link">More info</a>
    </div>
    </div>
</div>

<div class="text-center" id="imageContainer">
    <img id="image" class="img-fluid rounded" src="" alt="Image">
</div>
<div class="container text-left" id="container">
    <div class="row">
        <div class="col">
            <h1 class="display-5">Temperature (F):</h1>
        </div>
        <div class="col">
            <h1 class="display-5" id="today-temp">
                {{ today.current.temperature }}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="display-5">Wind Speed (mph):</h1>
        </div>
        <div class="col">
            <h1 class="display-5" id="today-wind">
                {{ today.current.windspeed }}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="display-5">Weather Code</h1>
        </div>
        <div class="col">
            <h1 class="display-5" id="today-code">
                {{ today.current.weathercode }}
            </h1>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
