<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
    <title>UWeather</title>
</head>
<body>
    <!-- Navbar -->
    <section id="navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">UWeather</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"></a>
                  </li>

                </ul>
                <form class="d-flex">
                  <input class="form-control me-2 input" type="search" placeholder="Search" name="q" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
    </section>
    
    <!-- Weather Radar -->
    <section id="weather-radar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <h1 class="text-center">Weather Radar</h1>
                    <br>
                </div>

                <!-- Weather Radar Image -->
                <div class="col-md-12">
                    <div id='map' style='width: 600px; height: 300px; margin: auto;'></div>

                </div>
            </div>
        </div>
    </section>

    <!-- City Cards -->
    <section>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="/static/images/cloudy.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Witchita, Kansas</h5>
                            <p class="card-text">Hi, Lo</p>
                            <div class="text-center">
                            <a href="/temp" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="/static/images/windy.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">San Antonio, Texas</h5>
                            <p class="card-text">Hi, Lo</p>
                            <div class="text-center">
                            <a href="/temp" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="/static/images/rain.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Lansing, Michigan</h5>
                            <p class="card-text">Hi, Lo</p>
                            <div class="text-center">
                                <a href="/temp" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/content.js"></script>
<script src="/static/js/map.js"></script>