{% extends 'weather.html' %}

{% block header %}
<h1>{% block title %}Today's Forecast{% endblock %}</h1>
{% endblock %}

{% block content %}
{% if today %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <img src="" class="img-fluid card-img-top" style="width: 50%;" id="image" alt="weather-code">
                <div class="card-body">
                    <h5 class="card-title">{{ city }}</h5>
                    <p id="isDay" class="card-text">{{ today.current.is_day }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Temperature (F): {{ today.current.temperature_2m }}
                    </li>
                    <li class="list-group-item">
                        Humidity (%): {{ today.current.relative_humidity_2m }}
                    </li>
                    <li class="list-group-item">
                        Wind Speed (mph): {{ today.current.wind_speed_10m }}
                    </li>
                    <li id="today-code" class="list-group-item">
                        {{ today.current.weather_code }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
</div>
<script src="{{ url_for('static', filename='js/today.js') }}"></script>
{% endblock %}
