<!DOCTYPE html>
<html>
    <head>
        <title>Weather App</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.css') }}">
    </head>
    <body>
        <div class="container-sm">
            <h1><a href="/weather">Weather App</a></h1>
            <section class="content">
                <header>
                    {% block header %}{% endblock %}
                </header>
                {% block content %}{% endblock %}
            </section>
        </div>
    </body>
</html>
